/* 公共样式 */

.w {
    /* 版心的样式 */
    width: 1220px;
    margin: 0 auto;
}


/* 生命字体 */

@font-face {
    font-family: "icomoon";
    src: url("../fonts/icomoon.eot?9orn2");
    src: url("../fonts/icomoon.eot?9orn2#iefix") format("embedded-opentype"), url("../fonts/icomoon.ttf?9orn2") format("truetype"), url("../fonts/icomoon.woff?9orn2") format("woff"), url("../fonts/icomoon.svg?9orn2#icomoon") format("svg");
    font-weight: normal;
    font-style: normal;
}

blockquote,
body,
button,
dd,
dl,
dt,
fieldset,
form,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
input,
legend,
li,
ol,
p,
pre,
td,
textarea,
th,
ul {
    margin: 0;
    padding: 0;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

a:hover {
    color: #ffffff;
}

.fl {
    float: left;
}

.fr {
    float: right;
}

.shortcut {
    background-color: #2f2f2f;
    font-size: 12px;
    line-height: 40px;
    height: 40px;
    /* 行高等于高可以垂直居中 */
    color: #afafaf;
}

.shortcut a {
    color: #afafaf;
}

.shortcut i {
    font-family: "icomoon";
    font-weight: normal;
    font-style: normal;
}

.shortcut li {
    float: left;
    margin-left: 2px;
    margin-right: 2px;
}

.user {
    margin-right: 30px;
}

.shortcut .space {
    width: 1px;
    height: 10px;
    background-color: #afafaf;
    /* 上、左右、下 */
    margin: 15px 5px 0px;
}

.shopping a {
    float: right;
    width: 120px;
    background-color: #424242;
    margin: 0 auto;
    text-align: center;
}

.shopping :hover {
    color: #ff6700;
    background-color: #ffffff;
}

.middle {
    height: 100px;
}

.logo {
    float: left;
    position: relative;
    top: 22px;
}

.logo a {
    display: block;
    background: url(../images/logo.png) no-repeat;
    width: 55px;
    height: 55px;
}

.search {
    position: relative;
    top: 25px;
    float: right;
    display: block;
    width: 296px;
}

.search-form {
    height: 50px;
}

.search-text {
    height: 48px;
    width: 223px;
    padding: 0 10px;
    border: #e0e0e0 solid 1px;
}

.search-submit {
    height: 50px;
    position: absolute;
    width: 52px;
    top: 0;
    right: 0;
    border: #e0e0e0 solid 1px;
    background-color: #ffffff;
    font-family: "icomoon";
    font-weight: normal;
    font-style: normal;
}

.nav {
    float: left;
    width: 850px;
}

.nav ul {
    position: relative;
    z-index: 10;
    float: left;
    width: 820px;
    height: 88px;
    margin: 0;
    padding: 12px 0 0 30px;
    list-style-type: none;
    font-size: 16px;
    margin-left: 140px;
}

.nav li {
    float: left;
}

.nav a {
    color: black;
    display: block;
    padding: 26px 10px 38px;
    font-size: 16px !important;
}

.nav .nav-lu a:hover {
    color: #ff6700;
}

.footer-top {
    height: 80px;
    border-bottom: #e0e0e0 1px solid;
    padding-top: 28px;
    box-sizing: border-box;
}

.footer-top li {
    float: left;
    width: 243px;
    text-align: center;
    list-style-type: none;
}

.footer-top a {
    color: #868b95;
}

.footer-top a:hover {
    color: #ff6700;
}

.footer-top .space {
    width: 1px;
    height: 26px;
    background-color: #afafaf;
    /* 上、左右、下 */
    margin: 0px;
}

.help {
    padding-top: 42px;
    box-sizing: border-box;
    width: 972px;
    height: 190px;
    position: relative;
}

.help dl {
    margin: 0;
    width: 162px;
    height: 150px;
    float: left;
}

.help dt {
    height: 45px;
}

.help dd {
    height: 30px;
}

.help a {
    color: #afafaf;
    font-size: 12px;
}

.help a:hover {
    color: #ff6700;
}

.help .space {
    width: 1px;
    height: 115px;
    background-color: #afafaf;
    /* 上、左右、下 */
    margin: 0px;
    position: absolute;
    right: 0px;
}

.tel {
    padding-top: 42px;
    box-sizing: border-box;
    width: 240px;
    height: 192px;
    text-align: center;
    position: relative;
}

.tel .telephone {
    font-size: 22px;
    margin-bottom: 5px;
    line-height: 1;
    color: #ff6700;
}

.tel .time {
    margin: 0 0 5px;
    font-size: 12px;
    display: block;
}

.tel a {
    color: #ff6700;
    border: #ff6700 1px solid;
    bottom: 42px;
    font-size: 12px;
    width: 118px;
    height: 28px;
    line-height: 28px;
    position: absolute;
    left: 50%;
    margin-left: -59px;
}

.tel a:hover {
    color: #ffffff;
    background-color: #ff6700;
}